body{
    background-image: url(contact_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    animation: transitionIn 0.75s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.heading{
    font-size: 200px;
}

.navbar ul{
    background-color: grey;
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: right;
}

.navbar li a{
    text-decoration: none;
    padding: 16px;
    display: block;
    color: white;
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    background-color: black;
}

.style{
    padding-top: 30px;
    padding-left: 120px;
    color:coral;
    width: 50%;
    font-size: 30px;
}

.image{
    float: right;
    padding-top: 50px;
    padding-right: 60px;
    box-sizing: border-box;

}

.contact img{
    padding-top: 5px;
    padding-right: 30px;
}

.contact p{
    padding-left: 120px;
    padding-bottom: 15px;
    font-size: 25px;
    text-decoration: none;
    color: cadetblue;
}

.contact a{
    text-decoration: none;
}

.side{
    float: left;
}